body{
    background-color: #87CEFA;	
}

h1
{
    color: #CD5C5C;
	text-align: center
}

h2
{
    color: #2E8B57;
	text-align: center
}

#time
{
	text-align: center;
	padding-bottom: 20px;
	font-weight: bold
}

div
{
	color: black;
	text-align: right
}

h5
{
    color: black;
	text-align: right
}